/*This will be our css style sheet*/
/*Last Update: 11/24/2021 by Carol */
/*The colour palette for the site can be found and changed here: https://coolors.co/6c4423-2c3531-165844-007a56-3b8268-758a79-d9b08c-d1e8e2-2e6f72-116466 */

h1 {
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 35pt;
    text-shadow: 2px 2px #2C3531;
    text-align: center;
}
/* Main body css used on multiple pages - originally written by Steph */
h2 {
	text-align: center;
}

h3 {
	text-align: left;
}

p {
	text-align: left;
}

.contentContainer {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top : 20px;
  font-family: garamond, serif;
}
/* This is the css for the about us page */
#aboutus{
  text-align: left;
}
.headlineContainer {
  text-align: center;
  font-family: Tahoma, sans-serif; 
}

.panelContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Steph's Forestry stuff */
/* the column css was found on the w3 schools website */
.column1 {
  float: left;
  width: 50%;
  font-family: garamond, serif;
  background-color: #758A79;
  margin-bottom: 10px
}
.column2 {
  float: left;
  width: 50%;
  font-family: garamond, serif;
  background-color: #D9B08C;
  margin-bottom: 10px
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.forestcolumn { /*the is the column text */
	display: center-left;
    font-family: garamond, serif;
	margin-left: 20px
}
.forestrycontainer { /*the is the area where the block of text will go */
	display: flex;
	align-items: center;
	padding: 30px;
	background-color: #2E6F72;
	margin-bottom: 10px
}
.foresttext { /*the is the forestry container text */
	display: center-left;
    font-family: garamond, serif;
	margin-left: 10px
}
.forestimage {
	width: 400px;
  height: 250px;
	margin: auto;
	display: flex;
	justify-content: center;
}

/* End of Steph's Forestry Stuff */

.bioImg-with-text{
  text-align: justify;
  text-align-last: center;
  width:337px;
  flex: 33%;
  padding:10px;
}
.bioImg-with-text img {
  display: block;
  margin-left: auto;
  margin-right:auto;
}
@media screen and (max-width: 1450px) {
  .bioImg-with-text {
    width: 100%;
  }
}
/* Kira's Wildlife Conservation CSS*/
.wildlifeText{
	display: flex;
	justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: #D1E8E2;
}
.habitatContainer {
  display: flex;
	justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: #82a796;
  margin-bottom: 10px;
}
#gibbon {
  float:right;
  max-width: 100%;
  height: auto;
}
#pushpins {
  max-width: 100%;
  height: auto;
}
#landcover {
  max-width: 100%;
  height: auto;
}
.imageCol {
  flex: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.imageRow {
  display: flex;
}
.teamRow{
  display: flex;
}
.bioimgCol {
  flex:20%;
  float: left;
  margin:5px;
}
.bioCol{
  flex:80%;
  float:left;
  margin:5px;
  text-align: left;
}
.memberName {
  text-align: left;
}

.habitatText {
  max-width: 100%;
  font-size: 20px;
	padding: 20px;
  text-align: left;
}
#habitat{
  text-align: left;
}

#wildlifeText{
  text-align: left;
}

img {
	max-width: 100%;
  display: block;
  margin-left: auto;
}

.mainText {
	font-size: 20px;
	padding-left: 20px;
  text-align: left;
}
.BodyText{
  max-width: 50%;
  font-size: 20px;
	padding: 20px;
  text-align: left;
}
.image {
	flex-basis: 40%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*This is the css for the page footer sets the background color the same as the 
nav bar as well as the font style and colour for the whole nav bar -KS NOV 25*/
.pgfooter {
  background-color: #2C3531;
  margin-bottom: 0px;
  height:200px;
  width:100%;
  font-family: garamond;
  color: #D9B08C;
  font-size:16pt; 
}
/*this is the main text blurb*/

.FooterTxt {
  float:left;
  width:40%;
  margin-top:80px;
  margin-left:80px;   
}

/*These are the two lists of more information*/
.ListFooter2 {
 float:right;
 margin-right: 100px;
 list-style-type: none;

 
}

.ListFooter1 {
  float:right; 
  margin-right: 50px;
  list-style-type: none;

}


/* The Banner (Called a hero image) CSS - BC November 24*/
    /*This sets up the height of the whole page - needed by CSS because we are defining the height of the image as a percent of the page*/   
    body, html {
        height: 100%;
    }

    /*add the banner image - found in the folder Images -> Banner. Could add a linear-gradient which would darken/ make less bright the image*/
    .hero-image {
        /* This sets up the height of the image as a percent of the page - currently set to 50% */
        height: 50%;

        /* This sets up the position of the image to be the center of the page (background-position: center), to scale on any screens (background-size: cover) and to stop it from repeating or tile the image if it is too small (background-repeat: no repeat) - position: relative sets up for the position of the text */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #home {
      background-image: url("../Images/Banner/Trees.jpg");
    }
    #wildlife {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/Banner/rhino.jpg"); /*styled by Kira*/
    }
    #RoadTrees {
      background-image: url("../Images/Banner/AerialForest.jpg");
    }

    #Urbanp {
      background-image: url("../Images/Banner/bannerUP.jpg")
    }
    #about {
      background-image: url("../Images/Banner/team.jpg"); /*styled by Kira*/
    }

    /* This adds and positions the text to the image - it add's it to the center of the image (text-align: center), and positioned correctly in the image (position: absolute, top: 50% , left: 50% and transform: translate (-50%, -50%) and it set the font colour */
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 2px 2px #2C3531;
        font-size: 18pt;
        font-family: Tahoma, sans-serif;
    }
/* end of the Banner CSS */ 

/* Navigation Bar CSS - CB Nov 24 */
/* colours are temporary placeholders */
ul.NavigationBar {
    /* this will remove the bullet points since we don't need them */
      list-style-type: none;
    /* margin and padding at zero removes browser defaults */
      margin: 0;
      padding: 0;
      width: 100%;
      overflow: hidden;
      background-color: #2C3531;
    }
    ul.NavigationBar li {
    /* this will make labels start at left of screen */
      float: left;
    /* added a link block outline for extra contrast */
      outline: #D9B08C solid 1px;
    /* divide 100% eidth evenly between eight links */
      width: 12.5%;
    }
    ul.NavigationBar li a {
    /* block display makes the whole area a clickable link*/
      display: block;
      color: #faf2eb;
      text-align: center;
      padding: 14px 16px;
    /* these settings are ready in here so that we can edit them later once we've decided on fonts */
      text-decoration: none;
      font-family: "Tahoma", sans-serif; 
    /*  font-size: 18px; */
    }
    /* I wanted a nice colour for when you hover on the link, re:colour palette above */
    ul.NavigationBar li a:hover:not(.active) {
      background-color: #758A79;
    }
    ul.NavigationBar li a.active {
      background-color: #3B8268;
    }
    /* this will add settings for if viewing in a small window or on a mobile device*/
    @media screen and (max-width: 1450px) {
      ul.NavigationBar li {
        float: none;
        width: 100%;}

    /* this will add settings for if viewing in a non fullscreen window */
    @media screen and (min-width: 1451px) {
        ul.NavigationBar li {
          float: left;
        /* divide 100% width evenly between eight links */
          width: 12.5%;}
    }
/* end of Navigation Bar CSS*/
  }