/*This will be our css style sheet*/
/*Last Update: 11/7/2021 by Kira */
h1 {
    color:blue;
}

/* footer css assumes font colour and style will be set at a "page" level*/
.ListFooter1{
    width:30%;
    text-align: left;
}

.FooterTxt {
    width: 40%;
    text-align: center;
}

.ListFooter2 {
    width: 30%;
    text-align:right;
}