/*This will be our css style sheet*/
/*Last Update: 11/23/2021 by Steph */
h1 {
    color:blue;
}
/* Main body css */
h2 {
	text-align: center;
}

h3 {
	text-align: left;
}

p1 {
	text-align: left;
}

.contentContainer {
}

.headlineContainer {
}

.panelContainer{
	display: flex;
	align-items: center;
	justify-content: center
}

img {
	max-width: 100%
}

.mainText {
	font-size: 20px;
	padding-left: 20px;

.image {
	flex-basis: 40%
}

/* footer css assumes font colour and style will be set at a "page" level*/
.ListFooter1{
    width:30%;
    text-align: left;
}

.FooterTxt {
    width: 40%;
    text-align: center;
}

.ListFooter2 {
    width: 30%;
    text-align:right;
}